body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc; /* Cor clara para imitar o tema rural */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8FBC8F; /* Verde suave */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    color: #654321; /* Cor de madeira */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50; /* Verde para cabeçalho */
    color: white;
}

form {
    margin: 20px 0;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
